<div class ="justify-center text-center">
    <p>
        The NorCal Hike and Fly Contest is proposed by Rob Barlow. 
    </p>
    <p>
        Please send all questions or comments to 
        <a href="mailto:norcalhf@gmail.com">norcalhf@gmail.com</a>, 
        or submit a pull request on the <a href="https://github.com/BarlowR/NorCal-Hike-and-Fly">GitHub repo</a>.
    </p>
    <p>
        Last update: Feb 2026
    </p>
</div>