@import "tailwindcss";


@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-2xl py-5 font-bold text-gray-800 md:text-3xl md:py-3;
  }
  h2 {
    @apply text-2xl py-4 font-bold text-gray-800 md:text-2xl md:py-3;
  }
  h3 {
    @apply text-xl py-3 font-bold text-gray-800 md:text-xl md:py-2;
  }
  h4 {
    @apply font-bold py-3 text-gray-800 md:py-2;
  }
  p {
    @apply pb-2
  }
  a {
    @apply text-blue-950 underline
  }
}